---
import { t, changeLanguage } from "i18next";
import Carousel from "../../../components/widgets/Carousel.tsx";
import PageDescription from "../../../components/widgets/PageDescription.astro";
import Spacer from "../../../components/widgets/Spacer.astro";
import Layout from "../../../layouts/PageLayout.astro";
import corianBathroomSinkImage from "../../../assets/images/bath/corian/corian-bathroom-sink.avif";
import corianBathroomSink2Image from "../../../assets/images/bath/corian/corian-bathroom-sink-2.avif";
import corianBathroomSink3Image from "../../../assets/images/bath/corian/corian-bathroom-sink-3.avif";
import corianBathroomSink4Image from "../../../assets/images/bath/corian/corian-bathroom-sink-4.avif";
import corianBathroomSink5Image from "../../../assets/images/bath/corian/corian-bathroom-sink-5.avif";
import corianBathroomSink6Image from "../../../assets/images/bath/corian/corian-bathroom-sink-6.avif";
import corianBathroomSink7Image from "../../../assets/images/bath/corian/corian-bathroom-sink-7.avif";

changeLanguage("en");

const meta = {
  title: t("pages.bath.corian_bath.title"),
  description: t("pages.bath.corian_bath.description"),
};
---

<Layout meta={meta} lang={"EN"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.bath.corian_bath.title")}
      subtitle={t("pages.bath.corian_bath.subtitle")}
      description={t("pages.bath.corian_bath.description")}
    />

    <Carousel
      images={[
        {
          src: corianBathroomSinkImage,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink2Image,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink3Image,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink4Image,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink5Image,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink6Image,
          alt: "corian-bathroom-sink",
        },
        {
          src: corianBathroomSink7Image,
          alt: "corian-bathroom-sink",
        },
      ]}
      widthType="normal"
      client:load
    />
  </div>

  <Spacer />
</Layout>
