---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import ergaImage from "../../assets/images/erga/erga.avif";
import erga2Image from "../../assets/images/erga/erga-2.avif";
import erga3Image from "../../assets/images/erga/erga-3.avif";
import erga4Image from "../../assets/images/erga/erga-4.avif";
import erga5Image from "../../assets/images/erga/erga-5.avif";
import erga6Image from "../../assets/images/erga/erga-6.avif";
import erga8Image from "../../assets/images/erga/erga-8.avif";
import erga9Image from "../../assets/images/erga/erga-9.avif";
import erga10Image from "../../assets/images/erga/erga-10.avif";
import erga11Image from "../../assets/images/erga/erga-11.avif";
import erga12Image from "../../assets/images/erga/erga-12.avif";
import erga13Image from "../../assets/images/erga/erga-13.avif";
import erga14Image from "../../assets/images/erga/erga-14.avif";
import erga15Image from "../../assets/images/erga/erga-15.avif";
import erga16Image from "../../assets/images/erga/erga-16.avif";
import erga17Image from "../../assets/images/erga/erga-17.avif";
import erga18Image from "../../assets/images/erga/erga-18.avif";
import erga19Image from "../../assets/images/erga/erga-19.avif";
import erga20Image from "../../assets/images/erga/erga-20.avif";
import erga21Image from "../../assets/images/erga/erga-21.avif";
import erga22Image from "../../assets/images/erga/erga-22.avif";
import erga23Image from "../../assets/images/erga/erga-23.avif";
import erga24Image from "../../assets/images/erga/erga-24.avif";
import erga25Image from "../../assets/images/erga/erga-25.avif";
import erga26Image from "../../assets/images/erga/erga-26.avif";
import erga27Image from "../../assets/images/erga/erga-27.avif";
import erga28Image from "../../assets/images/erga/erga-28.avif";
import erga29Image from "../../assets/images/erga/erga-29.avif";
import erga30Image from "../../assets/images/erga/erga-30.avif";
import erga31Image from "../../assets/images/erga/erga-31.avif";
import erga32Image from "../../assets/images/erga/erga-32.avif";
import erga33Image from "../../assets/images/erga/erga-33.avif";
import erga34Image from "../../assets/images/erga/erga-34.avif";
import erga35Image from "../../assets/images/erga/erga-35.avif";
import erga36Image from "../../assets/images/erga/erga-36.avif";
import erga37Image from "../../assets/images/erga/erga-37.avif";
import erga38Image from "../../assets/images/erga/erga-38.avif";
import erga39Image from "../../assets/images/erga/erga-39.avif";
import erga40Image from "../../assets/images/erga/erga-40.avif";

changeLanguage("en");

const meta = {
  title: t("pages.erga.title"),
  description: t("pages.erga.description"),
};
---

<Layout meta={meta} lang={"EN"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.erga.title")}
      subtitle={t("pages.erga.subtitle")}
      description={t("pages.erga.description")}
    />

    <Carousel
      images={[
        {
          src: ergaImage,
          alt: "erga",
        },
        {
          src: erga2Image,
          alt: "erga-2",
        },
        {
          src: erga3Image,
          alt: "erga-3",
        },
        {
          src: erga4Image,
          alt: "erga-4",
        },
        {
          src: erga5Image,
          alt: "erga-5",
        },
        {
          src: erga6Image,
          alt: "erga-6",
        },
        {
          src: erga8Image,
          alt: "erga-8",
        },
        {
          src: erga9Image,
          alt: "erga-9",
        },
        {
          src: erga10Image,
          alt: "erga-10",
        },
        {
          src: erga11Image,
          alt: "erga-11",
        },
        {
          src: erga12Image,
          alt: "erga-12",
        },
        {
          src: erga13Image,
          alt: "erga-13",
        },
        {
          src: erga14Image,
          alt: "erga-14",
        },
        {
          src: erga15Image,
          alt: "erga-15",
        },
        {
          src: erga16Image,
          alt: "erga-16",
        },
        {
          src: erga17Image,
          alt: "erga-17",
        },
        {
          src: erga18Image,
          alt: "erga-18",
        },
        {
          src: erga19Image,
          alt: "erga-19",
        },
        {
          src: erga20Image,
          alt: "erga-20",
        },
        {
          src: erga21Image,
          alt: "erga-21",
        },
        {
          src: erga22Image,
          alt: "erga-22",
        },
        {
          src: erga23Image,
          alt: "erga-23",
        },
        {
          src: erga24Image,
          alt: "erga-24",
        },
        {
          src: erga25Image,
          alt: "erga-25",
        },
        {
          src: erga26Image,
          alt: "erga-26",
        },
        {
          src: erga27Image,
          alt: "erga-27",
        },
        {
          src: erga28Image,
          alt: "erga-28",
        },
        {
          src: erga29Image,
          alt: "erga-29",
        },
        {
          src: erga30Image,
          alt: "erga-30",
        },
        {
          src: erga31Image,
          alt: "erga-31",
        },
        {
          src: erga32Image,
          alt: "erga-32",
        },
        {
          src: erga33Image,
          alt: "erga-33",
        },
        {
          src: erga34Image,
          alt: "erga-34",
        },
        {
          src: erga35Image,
          alt: "erga-35",
        },
        {
          src: erga36Image,
          alt: "erga-36",
        },
        {
          src: erga37Image,
          alt: "erga-37",
        },
        {
          src: erga38Image,
          alt: "erga-38",
        },
        {
          src: erga39Image,
          alt: "erga-39",
        },
        {
          src: erga40Image,
          alt: "erga-40",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer />
</Layout>
