---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.tsx";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { processImagesForCarousel } from "~/utils/images";

changeLanguage("en");

const images = processImagesForCarousel("meletes");

const meta = {
  title: t("pages.meletes.title"),
  description: t("pages.meletes.description"),
};
---

<Layout meta={meta} lang={"EN"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.meletes.title")}
      subtitle={t("pages.meletes.subtitle")}
      description={t("pages.meletes.description")}
    />

    <Carousel images={images} widthType="normal" client:load />
  </div>
  <Spacer />
</Layout>
