---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { processImagesForCarousel } from "~/utils/images";

changeLanguage("en");

const images = processImagesForCarousel("wardrobes");

const meta = {
  title: t("pages.wardrobes.title"),
  description: t("pages.wardrobes.description"),
};
---

<Layout meta={meta} lang={"EN"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.wardrobes.title")}
      subtitle={t("pages.wardrobes.subtitle")}
      description={t("pages.wardrobes.description")}
    />

    <Carousel images={images} widthType="normal" />
  </div>

  <Spacer />
</Layout>
