---
const title = Astro.props.title;
const subtitle = Astro.props.subtitle;
const description = Astro.props.description;
---

<section
  id="page-description"
  class="p-8 mx-auto max-w-screen-xl md:mt-8 md:mb-8 transition-all duration-500 ease-in-out transform hover:scale-105 shadow-sm rounded-md"
>
  <h1 class="text-primary dark:text-orange-500 text-4xl font-bold mb-4">
    {title}
  </h1>
  <h2
    class="uppercase font-semibold tracking-widest animate-slide-in-from-left"
  >
    {subtitle}
  </h2>
  <h3 class="opacity-80">
    {description}
  </h3>
</section>
