---
import { t, changeLanguage } from "i18next";
import Carousel from "../components/widgets/Carousel.astro";
import PageDescription from "../components/widgets/PageDescription.astro";
import Spacer from "../components/widgets/Spacer.astro";
import Layout from "../layouts/PageLayout.astro";
import doorImage from "../assets/images/doors/door.avif";
import door2Image from "../assets/images/doors/door-2.avif";
import door3Image from "../assets/images/doors/door-3.avif";
import door4Image from "../assets/images/doors/door-4.avif";
import door5Image from "../assets/images/doors/door-5.avif";
import door6Image from "../assets/images/doors/door-6.avif";
import door7Image from "../assets/images/doors/door-7.avif";
import door8Image from "../assets/images/doors/door-8.avif";
import door9Image from "../assets/images/doors/door-9.avif";
import door10Image from "../assets/images/doors/door-10.avif";
import door11Image from "../assets/images/doors/door-11.avif";

changeLanguage("el");

const meta = {
    title: t("pages.doors.title"),
    description: t("pages.doors.description"),
};
---

<Layout meta={meta} lang={"EL"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.doors.title")}
      subtitle={t("pages.doors.subtitle")}
      description={t("pages.doors.description")}
    />

    <Carousel
      images={[
        {
          src: doorImage,
          alt: "Interior door design 1 - The Kitchen Studio",
        },
        {
          src: door2Image,
          alt: "Interior door design 2 - The Kitchen Studio",
        },
        {
          src: door3Image,
          alt: "Interior door design 3 - The Kitchen Studio",
        },
        {
          src: door4Image,
          alt: "Interior door design 4 - The Kitchen Studio",
        },
        {
          src: door5Image,
          alt: "Interior door design 5 - The Kitchen Studio",
        },
        {
          src: door6Image,
          alt: "Interior door design 6 - The Kitchen Studio",
        },
        {
          src: door7Image,
          alt: "Interior door design 7 - The Kitchen Studio",
        },
        {
          src: door8Image,
          alt: "Interior door design 8 - The Kitchen Studio",
        },
        {
          src: door9Image,
          alt: "Interior door design 9 - The Kitchen Studio",
        },
        {
          src: door10Image,
          alt: "Interior door design 10 - The Kitchen Studio",
        },
        {
          src: door11Image,
          alt: "Interior door design 11 - The Kitchen Studio",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
