---
import { t, changeLanguage } from "i18next";
import Carousel from "~/components/widgets/Carousel.tsx";
import PageDescription from "~/components/widgets/PageDescription.astro";
import Spacer from "~/components/widgets/Spacer.astro";
import Layout from "~/layouts/PageLayout.astro";
import { processImagesForCarousel } from "~/utils/images";

changeLanguage("el");

const images = processImagesForCarousel("erga");

const meta = {
  title: t("pages.erga.title"),
  description: t("pages.erga.description"),
};
---

<Layout meta={meta} lang={"EL"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.erga.title")}
      subtitle={t("pages.erga.subtitle")}
      description={t("pages.erga.description")}
    />

    <Carousel images={images} widthType="normal" client:load />
  </div>

  <Spacer />
</Layout>
