---
import Carousel from "~/components/widgets/Carousel.astro";
import PageDescription from "~/components/widgets/PageDescription.astro";
import Spacer from "~/components/widgets/Spacer.astro";
import Layout from "~/layouts/PageLayout.astro";

const meta = {
  title: "Έργα",
  description: "Εξερευνήστε τα έργα μας",
};
---

<Layout meta={meta}>
  <div class="content-container">
    <PageDescription
      title="Έργα"
      subtitle="Ξεχωριστά όσο εσείς"
      description="Εξερευνήστε τα έργα μας και δείτε τις δυνατότητες που σας προσφέρουμε."
    />

    <Carousel
      images={[
        {
          src: "/assets/erga/erga.avif",
          alt: "erga",
        },
        {
          src: "/assets/erga/erga-2.avif",
          alt: "erga-2",
        },
        {
          src: "/assets/erga/erga-3.avif",
          alt: "erga-3",
        },
        {
          src: "/assets/erga/erga-4.avif",
          alt: "erga-4",
        },
        {
          src: "/assets/erga/erga-5.avif",
          alt: "erga-5",
        },
        {
          src: "/assets/erga/erga-6.avif",
          alt: "erga-6",
        },
        {
          src: "/assets/erga/erga-8.avif",
          alt: "erga-8",
        },
        {
          src: "/assets/erga/erga-9.avif",
          alt: "erga-9",
        },
        {
          src: "/assets/erga/erga-10.avif",
          alt: "erga-10",
        },
        {
          src: "/assets/erga/erga-11.avif",
          alt: "erga-11",
        },
        {
          src: "/assets/erga/erga-12.avif",
          alt: "erga-12",
        },
        {
          src: "/assets/erga/erga-13.avif",
          alt: "erga-13",
        },
        {
          src: "/assets/erga/erga-14.avif",
          alt: "erga-14",
        },
        {
          src: "/assets/erga/erga-15.avif",
          alt: "erga-15",
        },
        {
          src: "/assets/erga/erga-16.avif",
          alt: "erga-16",
        },
        {
          src: "/assets/erga/erga-17.avif",
          alt: "erga-17",
        },
        {
          src: "/assets/erga/erga-18.avif",
          alt: "erga-18",
        },
        {
          src: "/assets/erga/erga-19.avif",
          alt: "erga-19",
        },
        {
          src: "/assets/erga/erga-20.avif",
          alt: "erga-20",
        },
        {
          src: "/assets/erga/erga-21.avif",
          alt: "erga-21",
        },
        {
          src: "/assets/erga/erga-22.avif",
          alt: "erga-22",
        },
        {
          src: "/assets/erga/erga-23.avif",
          alt: "erga-23",
        },
        {
          src: "/assets/erga/erga-24.avif",
          alt: "erga-24",
        },
        {
          src: "/assets/erga/erga-25.avif",
          alt: "erga-25",
        },
        {
          src: "/assets/erga/erga-26.avif",
          alt: "erga-26",
        },
        {
          src: "/assets/erga/erga-27.avif",
          alt: "erga-27",
        },
        {
          src: "/assets/erga/erga-28.avif",
          alt: "erga-28",
        },
        {
          src: "/assets/erga/erga-29.avif",
          alt: "erga-29",
        },
        {
          src: "/assets/erga/erga-30.avif",
          alt: "erga-30",
        },
        {
          src: "/assets/erga/erga-31.avif",
          alt: "erga-31",
        },
        {
          src: "/assets/erga/erga-32.avif",
          alt: "erga-32",
        },
        {
          src: "/assets/erga/erga-33.avif",
          alt: "erga-33",
        },
        {
          src: "/assets/erga/erga-34.avif",
          alt: "erga-34",
        },
        {
          src: "/assets/erga/erga-35.avif",
          alt: "erga-35",
        },
        {
          src: "/assets/erga/erga-36.avif",
          alt: "erga-36",
        },
        {
          src: "/assets/erga/erga-37.avif",
          alt: "erga-37",
        },
        {
          src: "/assets/erga/erga-38.avif",
          alt: "erga-38",
        },
        {
          src: "/assets/erga/erga-39.avif",
          alt: "erga-39",
        },
        {
          src: "/assets/erga/erga-40.avif",
          alt: "erga-40",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer/>
</Layout>
