---
import { t, changeLanguage } from "i18next";
import Carousel from "~/components/widgets/Carousel.astro";
import PageDescription from "~/components/widgets/PageDescription.astro";
import Spacer from "~/components/widgets/Spacer.astro";
import Layout from "~/layouts/PageLayout.astro";
import { processImagesForCarousel } from "~/utils/images";

changeLanguage("el");

const images = processImagesForCarousel("showroom");

const meta = {
  title: t("pages.showroom.title"),
  description: t("pages.showroom.description"),
};
---

<Layout meta={meta} lang={"EL"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.showroom.title")}
      subtitle={t("pages.showroom.subtitle")}
      description={t("pages.showroom.description")}
    />

    <Carousel images={images} widthType="normal" />
  </div>

  <Spacer />
</Layout>
