---
import Carousel from "../components/widgets/Carousel.astro";
import PageDescription from "../components/widgets/PageDescription.astro";
import Spacer from "../components/widgets/Spacer.astro";
import Layout from "../layouts/PageLayout.astro";

const meta = {
  title: "Showroom",
  description: "Glyfada Showroom",
};
---

<Layout meta={meta}>
  <div class="content-container">
    <PageDescription
      title="Showroom"
      subtitle="Glyfada Showroom"
      description="Επισκεφθείτε το Showroom μας και αναζητήστε την ιδανική κουζίνα ανάμεσα σε μια μεγάλη και μοναδική γκάμα επίπλων κουζίνας."
    />

    <Carousel
      images={[
        {
          src: "/assets/showroom/showroom.avif",
          alt: "showroom",
        },
        {
          src: "/assets/showroom/showroom-2.avif",
          alt: "showroom-2",
        },
        {
          src: "/assets/showroom/showroom-3.avif",
          alt: "showroom-3",
        },
        {
          src: "/assets/showroom/showroom-4.avif",
          alt: "showroom-4",
        },
        {
          src: "/assets/showroom/showroom-5.avif",
          alt: "showroom-5",
        },
        {
          src: "/assets/showroom/showroom-6.avif",
          alt: "showroom-6",
        },
        {
          src: "/assets/showroom/showroom-7.avif",
          alt: "showroom-7",
        },
        {
          src: "/assets/showroom/showroom-8.avif",
          alt: "showroom-8",
        },
        {
          src: "/assets/showroom/showroom-9.avif",
          alt: "showroom-9",
        },
        {
          src: "/assets/showroom/showroom-10.avif",
          alt: "showroom-10",
        },
        {
          src: "/assets/showroom/showroom-11.avif",
          alt: "showroom-11",
        },
        {
          src: "/assets/showroom/showroom-12.avif",
          alt: "showroom-12",
        },
        {
          src: "/assets/showroom/showroom-13.avif",
          alt: "showroom-13",
        },
        {
          src: "/assets/showroom/showroom-14.avif",
          alt: "showroom-14",
        },
        {
          src: "/assets/showroom/showroom-15.avif",
          alt: "showroom-15",
        },
        {
          src: "/assets/showroom/showroom-16.avif",
          alt: "showroom-16",
        },
        {
          src: "/assets/showroom/showroom-17.avif",
          alt: "showroom-17",
        },
        {
          src: "/assets/showroom/showroom-18.avif",
          alt: "showroom-18",
        },
        {
          src: "/assets/showroom/showroom-19.avif",
          alt: "showroom-19",
        },
        {
          src: "/assets/showroom/showroom-20.avif",
          alt: "showroom-20",
        },
        {
          src: "/assets/showroom/showroom-21.avif",
          alt: "showroom-21",
        },
        {
          src: "/assets/showroom/showroom-22.avif",
          alt: "showroom-22",
        },
        {
          src: "/assets/showroom/showroom-23.avif",
          alt: "showroom-23",
        },
        {
          src: "/assets/showroom/showroom-24.avif",
          alt: "showroom-24",
        },
        {
          src: "/assets/showroom/showroom-25.avif",
          alt: "showroom-25",
        },
        {
          src: "/assets/showroom/showroom-26.avif",
          alt: "showroom-26",
        },
        {
          src: "/assets/showroom/showroom-27.avif",
          alt: "showroom-27",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer/>
</Layout>
