---
import { t, changeLanguage } from "i18next";
import Carousel from "../components/widgets/Carousel.astro";
import PageDescription from "../components/widgets/PageDescription.astro";
import Spacer from "../components/widgets/Spacer.astro";
import Layout from "../layouts/PageLayout.astro";
import showroomImage from "../assets/images/showroom/showroom.avif";
import showroom2Image from "../assets/images/showroom/showroom-2.avif";
import showroom3Image from "../assets/images/showroom/showroom-3.avif";
import showroom4Image from "../assets/images/showroom/showroom-4.avif";
import showroom5Image from "../assets/images/showroom/showroom-5.avif";
import showroom6Image from "../assets/images/showroom/showroom-6.avif";
import showroom7Image from "../assets/images/showroom/showroom-7.avif";
import showroom8Image from "../assets/images/showroom/showroom-8.avif";
import showroom9Image from "../assets/images/showroom/showroom-9.avif";
import showroom10Image from "../assets/images/showroom/showroom-10.avif";
import showroom11Image from "../assets/images/showroom/showroom-11.avif";
import showroom12Image from "../assets/images/showroom/showroom-12.avif";
import showroom13Image from "../assets/images/showroom/showroom-13.avif";
import showroom14Image from "../assets/images/showroom/showroom-14.avif";
import showroom15Image from "../assets/images/showroom/showroom-15.avif";
import showroom16Image from "../assets/images/showroom/showroom-16.avif";
import showroom17Image from "../assets/images/showroom/showroom-17.avif";
import showroom18Image from "../assets/images/showroom/showroom-18.avif";
import showroom19Image from "../assets/images/showroom/showroom-19.avif";
import showroom20Image from "../assets/images/showroom/showroom-20.avif";
import showroom21Image from "../assets/images/showroom/showroom-21.avif";
import showroom22Image from "../assets/images/showroom/showroom-22.avif";
import showroom23Image from "../assets/images/showroom/showroom-23.avif";
import showroom24Image from "../assets/images/showroom/showroom-24.avif";
import showroom25Image from "../assets/images/showroom/showroom-25.avif";
import showroom26Image from "../assets/images/showroom/showroom-26.avif";
import showroom27Image from "../assets/images/showroom/showroom-27.avif";

changeLanguage("el");

const meta = {
    title: t("pages.showroom.title"),
    description: t("pages.showroom.description"),
};
---

<Layout meta={meta} lang={"EL"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.showroom.title")}
      subtitle={t("pages.showroom.subtitle")}
      description={t("pages.showroom.description")}
    />

    <Carousel
      images={[
        {
          src: showroomImage,
          alt: "showroom",
        },
        {
          src: showroom2Image,
          alt: "showroom-2",
        },
        {
          src: showroom3Image,
          alt: "showroom-3",
        },
        {
          src: showroom4Image,
          alt: "showroom-4",
        },
        {
          src: showroom5Image,
          alt: "showroom-5",
        },
        {
          src: showroom6Image,
          alt: "showroom-6",
        },
        {
          src: showroom7Image,
          alt: "showroom-7",
        },
        {
          src: showroom8Image,
          alt: "showroom-8",
        },
        {
          src: showroom9Image,
          alt: "showroom-9",
        },
        {
          src: showroom10Image,
          alt: "showroom-10",
        },
        {
          src: showroom11Image,
          alt: "showroom-11",
        },
        {
          src: showroom12Image,
          alt: "showroom-12",
        },
        {
          src: showroom13Image,
          alt: "showroom-13",
        },
        {
          src: showroom14Image,
          alt: "showroom-14",
        },
        {
          src: showroom15Image,
          alt: "showroom-15",
        },
        {
          src: showroom16Image,
          alt: "showroom-16",
        },
        {
          src: showroom17Image,
          alt: "showroom-17",
        },
        {
          src: showroom18Image,
          alt: "showroom-18",
        },
        {
          src: showroom19Image,
          alt: "showroom-19",
        },
        {
          src: showroom20Image,
          alt: "showroom-20",
        },
        {
          src: showroom21Image,
          alt: "showroom-21",
        },
        {
          src: showroom22Image,
          alt: "showroom-22",
        },
        {
          src: showroom23Image,
          alt: "showroom-23",
        },
        {
          src: showroom24Image,
          alt: "showroom-24",
        },
        {
          src: showroom25Image,
          alt: "showroom-25",
        },
        {
          src: showroom26Image,
          alt: "showroom-26",
        },
        {
          src: showroom27Image,
          alt: "showroom-27",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer />
</Layout>
