---
import { t, changeLanguage } from "i18next";
import Carousel from "../../../components/widgets/Carousel.astro";
import PageDescription from "../../../components/widgets/PageDescription.astro";
import Spacer from "../../../components/widgets/Spacer.astro";
import Layout from "../../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../../utils/schema";
import classicKitchenImage from "../../../assets/images/kitchens/classic/classic-kitchen.avif";
import classicKitchen2Image from "../../../assets/images/kitchens/classic/classic-kitchen-2.avif";
import classicKitchen3Image from "../../../assets/images/kitchens/classic/classic-kitchen-3.avif";
import classicKitchen4Image from "../../../assets/images/kitchens/classic/classic-kitchen-4.avif";
import classicKitchen5Image from "../../../assets/images/kitchens/classic/classic-kitchen-5.avif";
import classicKitchen6Image from "../../../assets/images/kitchens/classic/classic-kitchen-6.avif";
import classicKitchen7Image from "../../../assets/images/kitchens/classic/classic-kitchen-7.avif";
import classicKitchen8Image from "../../../assets/images/kitchens/classic/classic-kitchen-8.avif";
import classicKitchen9Image from "../../../assets/images/kitchens/classic/classic-kitchen-9.avif";
import classicKitchen10Image from "../../../assets/images/kitchens/classic/classic-kitchen-10.avif";
import classicKitchen11Image from "../../../assets/images/kitchens/classic/classic-kitchen-11.avif";
import classicKitchen12Image from "../../../assets/images/kitchens/classic/classic-kitchen-12.avif";
import classicKitchen13Image from "../../../assets/images/kitchens/classic/classic-kitchen-13.avif";
import classicKitchen14Image from "../../../assets/images/kitchens/classic/classic-kitchen-14.avif";
import classicKitchen15Image from "../../../assets/images/kitchens/classic/classic-kitchen-15.avif";
import classicKitchen16Image from "../../../assets/images/kitchens/classic/classic-kitchen-16.avif";
import classicKitchen17Image from "../../../assets/images/kitchens/classic/classic-kitchen-17.avif";

changeLanguage("en");

const meta = {
  title: t("pages.kitchens.classic_kitchens.title"),
  description: t("pages.kitchens.classic_kitchens.description"),
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Home", item: "/en" },
  { name: "Kitchens", item: "/en/kitchens" },
  { name: "Classic Kitchens", item: "/en/kitchens/classic-kitchens" },
]);
---

<Layout meta={meta} lang={"EN"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
      title={t("pages.kitchens.classic_kitchens.title")}
      subtitle={t("pages.kitchens.classic_kitchens.subtitle")}
      description={t("pages.kitchens.classic_kitchens.description")}
    />

    <Carousel
      images={[
        {
          src: classicKitchenImage,
          alt: "Classic kitchen by The Kitchen Studio, photo 1",
        },
        {
          src: classicKitchen2Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 2",
        },
        {
          src: classicKitchen3Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 3",
        },
        {
          src: classicKitchen4Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 4",
        },
        {
          src: classicKitchen5Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 5",
        },
        {
          src: classicKitchen6Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 6",
        },
        {
          src: classicKitchen7Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 7",
        },
        {
          src: classicKitchen8Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 8",
        },
        {
          src: classicKitchen9Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 9",
        },
        {
          src: classicKitchen10Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 10",
        },
        {
          src: classicKitchen11Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 11",
        },
        {
          src: classicKitchen12Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 12",
        },
        {
          src: classicKitchen13Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 13",
        },
        {
          src: classicKitchen14Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 14",
        },
        {
          src: classicKitchen15Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 15",
        },
        {
          src: classicKitchen16Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 16",
        },
        {
          src: classicKitchen17Image,
          alt: "Classic kitchen by The Kitchen Studio, photo 17",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
