---
import Layout from "../layouts/PageLayout.astro";
import { type MetaSEO } from "../types";

export interface Props {
  meta: MetaSEO;
  canonicalURL?: string;
}

const { meta, canonicalURL } = Astro.props;
---

<Layout {meta} {canonicalURL}>
  <!-- Pass through any structured data to the MetaTags component -->
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>

  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <div class="fadeIn animate-slide-up">
      <slot />
    </div>
  </section>
</Layout>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }
</style>
