---
import Layout from "../layouts/BaseLayout.astro";
import Header from "../components/widgets/Header.astro";
import MinimalFooter from "../components/widgets/MinimalFooter.astro";

import {
  headerDataEL,
  footerDataEL,
  headerDataEN,
  footerDataEN,
} from "../data";

import { type MetaSEO } from "../types";

export interface Props {
  meta?: MetaSEO;
  lang?: 'EN' | 'EL';
}

const { meta, lang } = Astro.props;

const headerData = lang === 'EN' ? headerDataEN : headerDataEL;
const footerData = lang === 'EN' ? footerDataEN : footerDataEL;
---

<Layout {meta}>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main id="main-content">
    <slot />
  </main>
  <slot name="footer">
    <MinimalFooter {...footerData} />
  </slot>
</Layout>
