---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import bathFurnituresImage from "../../assets/images/bath/furniture/bath-furniture.avif";
import bathFurnitures2Image from "../../assets/images/bath/furniture/bath-furniture-2.avif";
import bathFurnitures3Image from "../../assets/images/bath/furniture/bath-furniture-3.avif";
import bathFurnitures4Image from "../../assets/images/bath/furniture/bath-furniture-4.avif";
import bathFurnitures4BImage from "../../assets/images/bath/furniture/bath-furniture-4b.avif";
import bathFurnitures5Image from "../../assets/images/bath/furniture/bath-furniture-5.avif";
import bathFurnitures6Image from "../../assets/images/bath/furniture/bath-furniture-6.avif";
import bathFurnitures7Image from "../../assets/images/bath/furniture/bath-furniture-7.avif";
import bathFurnitures8Image from "../../assets/images/bath/furniture/bath-furniture-8.avif";
import bathFurnitures9Image from "../../assets/images/bath/furniture/bath-furniture-9.avif";
import bathFurnitures10Image from "../../assets/images/bath/furniture/bath-furniture-10.avif";
import bathFurnitures11Image from "../../assets/images/bath/furniture/bath-furniture-11.avif";
import bathFurnitures12Image from "../../assets/images/bath/furniture/bath-furniture-12.avif";
import bathFurnitures13Image from "../../assets/images/bath/furniture/bath-furniture-13.avif";
import bathFurnitures14Image from "../../assets/images/bath/furniture/bath-furniture-14.avif";
import bathFurnitures15Image from "../../assets/images/bath/furniture/bath-furniture-15.avif";

changeLanguage("el");

const meta = {
  title: t("pages.bath.bath_furnitures.title"),
  description: t("pages.bath.bath_furnitures.description"),
};
---

<Layout meta={meta} lang={"EL"}>
  <div class="content-container">
    <PageDescription
      title={t("pages.bath.bath_furnitures.title")}
      subtitle={t("pages.bath.bath_furnitures.subtitle")}
      description={t("pages.bath.bath_furnitures.description")}
    />

    <Carousel
      images={[
        {
          src: bathFurnituresImage,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures2Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures3Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures4Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures4BImage,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures5Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures6Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures7Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures8Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures9Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures10Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures11Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures12Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures13Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures14Image,
          alt: "bath-furniture",
        },
        {
          src: bathFurnitures15Image,
          alt: "bath-furniture",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer />
</Layout>
