---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../utils/schema";
import bathFurnituresImage from "../../assets/images/bath/furniture/bath-furniture.avif";
import bathFurnitures2Image from "../../assets/images/bath/furniture/bath-furniture-2.avif";
import bathFurnitures3Image from "../../assets/images/bath/furniture/bath-furniture-3.avif";
import bathFurnitures4Image from "../../assets/images/bath/furniture/bath-furniture-4.avif";
import bathFurnitures4BImage from "../../assets/images/bath/furniture/bath-furniture-4b.avif";
import bathFurnitures5Image from "../../assets/images/bath/furniture/bath-furniture-5.avif";
import bathFurnitures6Image from "../../assets/images/bath/furniture/bath-furniture-6.avif";
import bathFurnitures7Image from "../../assets/images/bath/furniture/bath-furniture-7.avif";
import bathFurnitures8Image from "../../assets/images/bath/furniture/bath-furniture-8.avif";
import bathFurnitures9Image from "../../assets/images/bath/furniture/bath-furniture-9.avif";
import bathFurnitures10Image from "../../assets/images/bath/furniture/bath-furniture-10.avif";
import bathFurnitures11Image from "../../assets/images/bath/furniture/bath-furniture-11.avif";
import bathFurnitures12Image from "../../assets/images/bath/furniture/bath-furniture-12.avif";
import bathFurnitures13Image from "../../assets/images/bath/furniture/bath-furniture-13.avif";
import bathFurnitures14Image from "../../assets/images/bath/furniture/bath-furniture-14.avif";
import bathFurnitures15Image from "../../assets/images/bath/furniture/bath-furniture-15.avif";

changeLanguage("el");

const meta = {
  title: t("pages.bath.bath_furnitures.title"),
  description: t("pages.bath.bath_furnitures.description"),
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Αρχική", item: "/" },
  { name: "Μπάνιο", item: "/bath" },
  { name: "Έπιπλα Μπάνιου", item: "/bath/bath-furnitures" },
]);
---

<Layout meta={meta} lang={"EL"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
      title={t("pages.bath.bath_furnitures.title")}
      subtitle={t("pages.bath.bath_furnitures.subtitle")}
      description={t("pages.bath.bath_furnitures.description")}
    />

    <Carousel
      images={[
        {
          src: bathFurnituresImage,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: bathFurnitures2Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: bathFurnitures3Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 3",
        },
        {
          src: bathFurnitures4Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 4",
        },
        {
          src: bathFurnitures4BImage,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 5",
        },
        {
          src: bathFurnitures5Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 6",
        },
        {
          src: bathFurnitures6Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 7",
        },
        {
          src: bathFurnitures7Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 8",
        },
        {
          src: bathFurnitures8Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 9",
        },
        {
          src: bathFurnitures9Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 10",
        },
        {
          src: bathFurnitures10Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 11",
        },
        {
          src: bathFurnitures11Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 12",
        },
        {
          src: bathFurnitures12Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 13",
        },
        {
          src: bathFurnitures13Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 14",
        },
        {
          src: bathFurnitures14Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 15",
        },
        {
          src: bathFurnitures15Image,
          alt: "Έπιπλα μπάνιου The Kitchen Studio, φωτογραφία 16",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
