---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../utils/schema";
import corianBathroomSinkImage from "../../assets/images/bath/corian/corian-bathroom-sink.avif";
import corianBathroomSink2Image from "../../assets/images/bath/corian/corian-bathroom-sink-2.avif";
import corianBathroomSink3Image from "../../assets/images/bath/corian/corian-bathroom-sink-3.avif";
import corianBathroomSink4Image from "../../assets/images/bath/corian/corian-bathroom-sink-4.avif";
import corianBathroomSink5Image from "../../assets/images/bath/corian/corian-bathroom-sink-5.avif";
import corianBathroomSink6Image from "../../assets/images/bath/corian/corian-bathroom-sink-6.avif";
import corianBathroomSink7Image from "../../assets/images/bath/corian/corian-bathroom-sink-7.avif";

changeLanguage("el");

const meta = {
    title: t("pages.bath.corian_bath.title"),
    description: t("pages.bath.corian_bath.description")
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Αρχική", item: "/" },
  { name: "Μπάνιο", item: "/bath" },
  { name: "Νεροχύτες Corian", item: "/bath/corian-bath" },
]);
---

<Layout meta={meta} lang={"EL"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
      title={t("pages.bath.corian_bath.title")}
      subtitle={t("pages.bath.corian_bath.subtitle")}
      description={t("pages.bath.corian_bath.description")}
    />

    <Carousel
      images={[
        {
          src: corianBathroomSinkImage,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: corianBathroomSink2Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: corianBathroomSink3Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 3",
        },
        {
          src: corianBathroomSink4Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 4",
        },
        {
          src: corianBathroomSink5Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 5",
        },
        {
          src: corianBathroomSink6Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 6",
        },
        {
          src: corianBathroomSink7Image,
          alt: "Νεροχύτης Corian μπάνιου The Kitchen Studio, φωτογραφία 7",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
