---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../utils/schema";
import classicKitchenImage from "../../assets/images/kitchens/classic/classic-kitchen.avif";
import classicKitchen2Image from "../../assets/images/kitchens/classic/classic-kitchen-2.avif";
import classicKitchen3Image from "../../assets/images/kitchens/classic/classic-kitchen-3.avif";
import classicKitchen4Image from "../../assets/images/kitchens/classic/classic-kitchen-4.avif";
import classicKitchen5Image from "../../assets/images/kitchens/classic/classic-kitchen-5.avif";
import classicKitchen6Image from "../../assets/images/kitchens/classic/classic-kitchen-6.avif";
import classicKitchen7Image from "../../assets/images/kitchens/classic/classic-kitchen-7.avif";
import classicKitchen8Image from "../../assets/images/kitchens/classic/classic-kitchen-8.avif";
import classicKitchen9Image from "../../assets/images/kitchens/classic/classic-kitchen-9.avif";
import classicKitchen10Image from "../../assets/images/kitchens/classic/classic-kitchen-10.avif";
import classicKitchen11Image from "../../assets/images/kitchens/classic/classic-kitchen-11.avif";
import classicKitchen12Image from "../../assets/images/kitchens/classic/classic-kitchen-12.avif";
import classicKitchen13Image from "../../assets/images/kitchens/classic/classic-kitchen-13.avif";
import classicKitchen14Image from "../../assets/images/kitchens/classic/classic-kitchen-14.avif";
import classicKitchen15Image from "../../assets/images/kitchens/classic/classic-kitchen-15.avif";
import classicKitchen16Image from "../../assets/images/kitchens/classic/classic-kitchen-16.avif";
import classicKitchen17Image from "../../assets/images/kitchens/classic/classic-kitchen-17.avif";

changeLanguage("el");

const meta = {
    title: t("pages.kitchens.classic_kitchens.title"),
    description: t("pages.kitchens.classic_kitchens.description"),
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Αρχική", item: "/" },
  { name: "Κουζίνες", item: "/kitchens" },
  { name: "Κλασικές Κουζίνες", item: "/kitchens/classic-kitchens" },
]);
---

<Layout meta={meta} lang={"EL"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
      title={t("pages.kitchens.classic_kitchens.title")}
      subtitle={t("pages.kitchens.classic_kitchens.subtitle")}
      description={t("pages.kitchens.classic_kitchens.description")}
    />

    <Carousel
      images={[
        {
          src: classicKitchenImage,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: classicKitchen2Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: classicKitchen3Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 3",
        },
        {
          src: classicKitchen4Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 4",
        },
        {
          src: classicKitchen5Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 5",
        },
        {
          src: classicKitchen6Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 6",
        },
        {
          src: classicKitchen7Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 7",
        },
        {
          src: classicKitchen8Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 8",
        },
        {
          src: classicKitchen9Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 9",
        },
        {
          src: classicKitchen10Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 10",
        },
        {
          src: classicKitchen11Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 11",
        },
        {
          src: classicKitchen12Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 12",
        },
        {
          src: classicKitchen13Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 13",
        },
        {
          src: classicKitchen14Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 14",
        },
        {
          src: classicKitchen15Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 15",
        },
        {
          src: classicKitchen16Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 16",
        },
        {
          src: classicKitchen17Image,
          alt: "Κλασική κουζίνα The Kitchen Studio, φωτογραφία 17",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
