---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../utils/schema";
import corianKitchenCountertopImage from "../../assets/images/kitchens/corian/corian-kitchen-countertop.avif";
import corianKitchenCountertop2Image from "../../assets/images/kitchens/corian/corian-kitchen-countertop-2.avif";
import corianKitchenCountertop3Image from "../../assets/images/kitchens/corian/corian-kitchen-countertop-3.avif";
import corianKitchenSinkImage from "../../assets/images/kitchens/corian/corian-kitchen-sink.avif";
import corianKitchenSink2Image from "../../assets/images/kitchens/corian/corian-kitchen-sink-2.avif";
import corianKitchenSink3Image from "../../assets/images/kitchens/corian/corian-kitchen-sink-3.avif";

changeLanguage("el");

const meta = {
    title: t("pages.kitchens.corian_kitchens.title"),
    description: t("pages.kitchens.corian_kitchens.description"),
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Αρχική", item: "/" },
  { name: "Κουζίνες", item: "/kitchens" },
  { name: "Κουζίνες Corian", item: "/kitchens/corian-kitchens" },
]);
---

<Layout meta={meta} lang={"EL"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
      title={t("pages.kitchens.corian_kitchens.title")}
      subtitle={t("pages.kitchens.corian_kitchens.subtitle")}
      description={t("pages.kitchens.corian_kitchens.description")}
    />

    <Carousel
      images={[
        {
          src: corianKitchenCountertopImage,
          alt: "Επιφάνεια εργασίας Corian κουζίνας The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: corianKitchenCountertop2Image,
          alt: "Επιφάνεια εργασίας Corian κουζίνας The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: corianKitchenCountertop3Image,
          alt: "Επιφάνεια εργασίας Corian κουζίνας The Kitchen Studio, φωτογραφία 3",
        },
        {
          src: corianKitchenSinkImage,
          alt: "Νεροχύτης Corian κουζίνας The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: corianKitchenSink2Image,
          alt: "Νεροχύτης Corian κουζίνας The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: corianKitchenSink3Image,
          alt: "Νεροχύτης Corian κουζίνας The Kitchen Studio, φωτογραφία 3",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
