---
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";

import corianKitchenCountertopImage from "../../assets/images/kitchens/corian/corian-kitchen-countertop.avif";
import corianKitchenCountertop2Image from "../../assets/images/kitchens/corian/corian-kitchen-countertop-2.avif";
import corianKitchenCountertop3Image from "../../assets/images/kitchens/corian/corian-kitchen-countertop-3.avif";
import corianKitchenSinkImage from "../../assets/images/kitchens/corian/corian-kitchen-sink.avif";
import corianKitchenSink2Image from "../../assets/images/kitchens/corian/corian-kitchen-sink-2.avif";
import corianKitchenSink3Image from "../../assets/images/kitchens/corian/corian-kitchen-sink-3.avif";

const meta = {
  title: "Corian Kitchens",
  description: "Έπιπλα κουζίνας από Corian",
};
---

<Layout meta={meta}>
  <div class="content-container">
    <PageDescription
      title="Corian Kitchens"
      subtitle="Το μέλλον της αισθητικής στα έπιπλα κουζίνας"
      description="Εξερευνήστε την πρωτοποριακή και σύγχρονη αισθητική των Corian Kitchens."
    />

    <Carousel
      images={[
        {
          src: corianKitchenCountertopImage,
          alt: "corian-kitchen-countertop",
        },
        {
          src: corianKitchenCountertop2Image,
          alt: "corian-kitchen-countertop",
        },
        {
          src: corianKitchenCountertop3Image,
          alt: "corian-kitchen-countertop",
        },
        {
          src: corianKitchenSinkImage,
          alt: "corian-kitchen-sink",
        },
        {
          src: corianKitchenSink2Image,
          alt: "corian-kitchen-sink",
        },
        {
          src: corianKitchenSink3Image,
          alt: "corian-kitchen-sink",
        },
      ]}
      widthType="normal"
    />
  </div>

  <Spacer />
</Layout>
