---
import { t, changeLanguage } from "i18next";
import Carousel from "../../components/widgets/Carousel.astro";
import PageDescription from "../../components/widgets/PageDescription.astro";
import Spacer from "../../components/widgets/Spacer.astro";
import Layout from "../../layouts/PageLayout.astro";
import { generateBreadcrumbSchema } from "../../utils/schema";
import modernKitchenImage from "../../assets/images/kitchens/modern/modern-kitchen.avif";
import modernKitchen2Image from "../../assets/images/kitchens/modern/modern-kitchen-2.avif";
import modernKitchen3Image from "../../assets/images/kitchens/modern/modern-kitchen-3.avif";
import modernKitchen4Image from "../../assets/images/kitchens/modern/modern-kitchen-4.avif";
import modernKitchen5Image from "../../assets/images/kitchens/modern/modern-kitchen-5.avif";
import modernKitchen6Image from "../../assets/images/kitchens/modern/modern-kitchen-6.avif";
import modernKitchen7Image from "../../assets/images/kitchens/modern/modern-kitchen-7.avif";
import modernKitchen8Image from "../../assets/images/kitchens/modern/modern-kitchen-8.avif";
import modernKitchen9Image from "../../assets/images/kitchens/modern/modern-kitchen-9.avif";
import modernKitchen10Image from "../../assets/images/kitchens/modern/modern-kitchen-10.avif";
import modernKitchen11Image from "../../assets/images/kitchens/modern/modern-kitchen-11.avif";
import modernKitchen12Image from "../../assets/images/kitchens/modern/modern-kitchen-12.avif";
import modernKitchen13Image from "../../assets/images/kitchens/modern/modern-kitchen-13.avif";
import modernKitchen14Image from "../../assets/images/kitchens/modern/modern-kitchen-14.avif";
import modernKitchen15Image from "../../assets/images/kitchens/modern/modern-kitchen-15.avif";
import modernKitchen16Image from "../../assets/images/kitchens/modern/modern-kitchen-16.avif";
import modernKitchen17Image from "../../assets/images/kitchens/modern/modern-kitchen-17.avif";
import {SITE} from "../../config.mjs";

changeLanguage("el");

const meta = {
    title: `${t("pages.kitchens.modern_kitchens.title")} | ${SITE.title}`,
    description: t("pages.kitchens.modern_kitchens.description"),
};

const breadcrumbSchema = generateBreadcrumbSchema([
  { name: "Αρχική", item: "/" },
  { name: "Κουζίνες", item: "/kitchens" },
  { name: "Μοντέρνες Κουζίνες", item: "/kitchens/modern-kitchens" },
]);
---

<Layout meta={meta} lang={"EL"}>
  <script type="application/ld+json" slot="head" set:html={JSON.stringify(breadcrumbSchema)} />
  <div class="content-container">
    <PageDescription
    title={t("pages.kitchens.modern_kitchens.title")}
    subtitle={t("pages.kitchens.modern_kitchens.subtitle")}
    description={t("pages.kitchens.modern_kitchens.description")}
    />

    <Carousel
      images={[
        {
          src: modernKitchenImage,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 1",
        },
        {
          src: modernKitchen2Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 2",
        },
        {
          src: modernKitchen3Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 3",
        },
        {
          src: modernKitchen4Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 4",
        },
        {
          src: modernKitchen5Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 5",
        },
        {
          src: modernKitchen6Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 6",
        },
        {
          src: modernKitchen7Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 7",
        },
        {
          src: modernKitchen8Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 8",
        },
        {
          src: modernKitchen9Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 9",
        },
        {
          src: modernKitchen10Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 10",
        },
        {
          src: modernKitchen11Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 11",
        },
        {
          src: modernKitchen12Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 12",
        },
        {
          src: modernKitchen13Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 13",
        },
        {
          src: modernKitchen14Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 14",
        },
        {
          src: modernKitchen15Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 15",
        },
        {
          src: modernKitchen16Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 16",
        },
        {
          src: modernKitchen17Image,
          alt: "Μοντέρνα κουζίνα The Kitchen Studio, φωτογραφία 17",
        },
      ]}
      widthType="normal"

    />
  </div>

  <Spacer />
</Layout>
